<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="sitecss.css">
</head>

<body class="">
    <div class="container-fluid fundo">
        <!--navbar-->
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 w-100">
                <nav class="navbar navbar-expand-lg navs rounded-2">
                    <div class="container-fluid">
                        <a class="navbar-brand bg-primary rounded-3 text-white" href="#">F&V</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">sobre</a>
                                </li>
                                <li class="d-block d-md-none">
                                    <a class="nav-link" href="#">Login</a>
                                </li>
                                <button type="button" class="text-uppercase rounded-3 d-none d-md-block ">login</button>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row ms-2 d-none d-md-block">
            <div class="col-8 mt-4 mb-4 pt-2 pb-2 d-flex ms-auto me-auto">
                <div><img src="img/colorado.png" alt=""></div>
                <p class="fs-3 text-uppercase text-center ms-5 mt-auto">Compre conosco a sua passagem para a sua viagem
                    dos sonhos
                </p>
                <div>
                    <img src="img/national-park.png" alt="" class="ms-5">
                </div>
            </div>
        </div>
        <div class="row ms-2 pb-5">
            <div class="col-12 col-md-4 g-1 ">
                <div class="card" style="width: 96%;">

                    <div class="card-body rounded-2 cads">
                        <h5 class="card-title">Plano basico</h5>
                        <p class="card-text">Um plano mais idicado para uma passagem mais economica,com menas paradas e
                            escursoes.</p>
                        <a href="#" class="btn btn-primary w-100">R$ 100,00</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 g-1">
                <div class="card" style="width: 96%;">
                    <div class="card-body rounded-2 cads">
                        <h5 class="card-title">Plano Medio</h5>
                        <p class="card-text">Plano com mais beneficios e uma maior preferincia durante passeios e
                            desconto em hoteis.</p>
                        <a href="#" class="btn btn-primary w-100">R$ 200,00</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 g-1">
                <div class="card" style="width: 96%;">

                    <div class="card-body rounded-2 cads">
                        <h5 class="card-title">Plano completo</h5>
                        <p class="card-text">Preferencia total nas viagens e turismo tambem incluso uma hospedagem em
                            hoteis.</p>
                        <a href="#" class="btn btn-primary w-100">R$300,00</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-6 d-none d-lg-block">
                <div class="" style="width: 50%;">
                    <img src="img/beach.png" class="rounded-circle" alt="...">
                </div>
            </div>
            <div class="col-6 bg-white rounded-3 cads">
                <form class="pb-3 pt-2">
                    <div class="mb-3">
                        <p class="text-uppercase fs-3">cadastre-se</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text text-white">Adicione seu email.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                        <div id="enderecoHelp" class="form-text text-white">Estado/Cidade/Bairro/Rua/Numero.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Numero de telefone</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                        <div id="numerotelfoneHelp" class="form-text text-white">Numero residencial.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                        <div id="senhaHelp" class="form-text text-white">Escreva uma senha de 6 digitos com caracteres
                            especiais e numeros.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 text-uppercase">cadastrar-se</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center rodape">
            <div class="col-12 col-md-4 col-lg-3 ">
                <p class="text-center pt-3 pb-2">@-2026 Melhores planos para você</p>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>