<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="sitecss.css">
</head>

<body class="">
    <div class="container-fluid fundo">
        <!--navbar-->
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 w-100">
                <nav class="navbar navbar-expand-lg navs rounded-2">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">F&V</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">sobre</a>
                                </li>
                                <button type="button" class="text-uppercase rounded-3">login</button>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row ms-2">
            <div class="col-10 mt-4 mb-4 ">
                <p class="fs-3 text-uppercase">Compre aqui a sua passagem para qualquer lugar no mundo
                </p>
            </div>
        </div>
        <div class="row ms-2">
            <div class="col-12 col-md-4 g-1 ">
                <div class="card" style="width: 96%;">

                    <div class="card-body">
                        <h5 class="card-title">Plano basico</h5>
                        <p class="card-text">Um plano mais idicado para uma passagem mais economica,com menas paradas e escursoes.</p>
                        <a href="#" class="btn btn-primary w-100">R$ 100,00</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 g-1">
                <div class="card" style="width: 96%;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Medio</h5>
                        <p class="card-text">Plano com mais beneficios e uma maior preferincia durante passeios e
                            desconto em hoteis.</p>
                        <a href="#" class="btn btn-primary w-100">R$ 200,00</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 g-1">
                <div class="card" style="width: 96%;">

                    <div class="card-body ">
                        <h5 class="card-title">Plano completo</h5>
                        <p class="card-text">Preferencia total nas viagens e turismo tambem incluso uma hospedagem em
                            hoteis.</p>
                        <a href="#" class="btn btn-primary w-100">R$300,00</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-6 d-none d-lg-block">
                <div class="" style="width: 50%;">
                    <img src="img/beach.png" class="rounded-circle" alt="...">
                </div>
            </div>
            <div class="col-6 bg-white rounded-3">
                <form class="pb-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Numero de telefone</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center rodape">
            <div class="col-12 col-md-4 col-lg-3">
                <p class="text-center p-2">@-2026 Melhores planos para você</p>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>