.fundo{
    background-image: linear-gradient(rgb(238, 238, 238), rgb(0, 173, 181));
    background-repeat: no-repeat;
}
.rodape{
    background-image: linear-gradient(rgb(0, 173, 181),rgb(238, 238, 238));
}
.navs{
    background-image: linear-gradient(rgb(238, 238, 238),rgb(115, 166, 168));
}

.cads{
    background-image: linear-gradient(rgb(58, 71, 80),rgb(115, 166, 168));
}
