.fundo{
    background-image: linear-gradient(rgb(238, 238, 238), rgb(0, 173, 181));
    background-repeat: no-repeat;
}
.rodape{
    background-image: linear-gradient(rgba(29, 173, 180, 0.192),rgb(238, 238, 238));
}
.navs{
    background-image: linear-gradient(rgb(238, 238, 238),rgb(115, 166, 168));
}

.cads{
    background-image: linear-gradient(rgb(58, 71, 80),rgb(48, 56, 65));
    color: white;
}
